@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 5px;
    padding-left: 5px;
  }
  i {
    @apply font-nunito;
  }
  body {
    @apply font-nunito;
  }
  .faq-group {
    @apply border border-2 border-[#F2F2F2] rounded-sm p-5 w-9/12;
  }
  .faq-sub-title {
    @apply flex justify-between items-center;
  }
  .faq-sub-head {
    @apply font-bold text-[17];
  }
  .text-general-title {
    @apply font-Bubblegum-Sans text-[19px] font-medium text-[#1CBBB4] capitalize;
  }
  .text-general-h2 {
    @apply font-bold lg:text-[32px] md:text-[28px] text-2xl lg:leading-[130%] md:leading-[120%] leading-[110%] lg:max-w-[520px];
  }
  .text-general-desc {
    @apply pt-1 capitalize font-nunito text-[15px] text-[#686868];
  }
  .btn-quote {
    /* @apply rounded-md bg-[#73BE48] capitalize py-5 px-11 hover:bg-[#1CBBB4]  transition-all ease-linear duration-700; */
    @apply relative inline-flex items-center justify-start overflow-hidden font-medium transition-all bg-[#73BE48] rounded bg-[#1CBBB4] group py-5 px-11;
  }
  .bg-button-faq {
    /* @apply rounded-md flex items-center px-[11px] py-2.5 lg:w-10 w-8 lg:h-10 h-8 transition-all duration-500 icon bg-[#1CBBB4]; */
    @apply rounded-md flex items-center px-[11px] py-2.5 lg:w-10 w-8 lg:h-10 h-8 transition-all duration-500 bg-[#1CBBB4];
  }
  .our-profess-dtl {
    @apply p-10 border-2 border-transparent rounded-t-lg rounded-tl-[50px] rounded-br-[50px] rounded-tr-[10px] rounded-bl-[10px] hover:border-[#73BE48] transition-all;
  }
  .our-profess-img {
    @apply rounded-tl-[50px] rounded-br-[50px] rounded-tr-[10px] rounded-bl-[10px] group-hover:rounded-bl-[50px] group-hover:rounded-tr-[50px] group-hover:rounded-br-[10px] group-hover:rounded-tl-[10px] transition-all duration-500;
  }
  .our-profess-desc {
    @apply py-5 capitalize font-medium text-2xl font-jost;
  }
  .our-faq-market {
    @apply pt-1 capitalize font-nunito text-[15px] text-[#686868];
  }
  .rounded-head-social {
    @apply rounded-md w-6 h-6 flex text-xs items-center justify-center border border-[#fff] border-opacity-20 hover:bg-[#F7941E] transition-all duration-500;
  }
  .our-profess-icon li {
    @apply rounded w-9 h-9 bg-[#FFF0E5] flex justify-center items-center hover:bg-[#ED145B] transition-all duration-500 hover:cursor-pointer hover:text-[#fff];
  }

  .bg-general {
    @apply bg-[#FFF0E5];
  }
  .student-know-content {
    @apply grid lg:grid-cols-[37%_auto] grid-cols-1 items-center xl:gap-20 gap-10;
  }
  .btn-button {
    @apply border-2 border-[#ED145B] bg-[#ED145B] rounded-full max-h-[60px] inline-flex p-4 capitalize mt-4 text-[#fff] hover:bg-transparent hover:border-[#ED145B] hover:text-[#ED145B] transition-all duration-500;
  }
  .general-year {
    @apply rounded-md m-5 p-10 capitalize text-[#fff] text-[20px] font-bold text-wrap;
  }
  .genearl-year-1 {
    @apply flex justify-center align-middle items-center absolute max-w-[190px] max-h-[190px];
  }
  .student-know-right {
    @apply relative flex md:gap-[30px] text-[#fff] capitalize;
  }
  @media (min-width: 640px) {
    .container {
      max-width: 640px;
    }
  }

  @media (min-width: 768px) {
    .container {
      max-width: 768px;
    }
  }

  @media (min-width: 1024px) {
    .container {
      max-width: 1024px;
    }
  }

  @media (min-width: 1290px) {
    .container {
      max-width: 1290px;
    }
  }
  .btn2 span:first-child {
    transform: translateX(-101%);
    transition: transform 0.3s ease-in;
  }
  .btn2:hover span {
    transform: translateX(0);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Jost;
  }
  p {
    color: #686868;
  }
}
